<?xml version="1.0"?>
<robot xmlns:xacro="http://www.ros.org/wiki/xacro" name="turtlebot">

    <ros2_control name="TurtleBot" type="system">

        <!-- ros2_control Gazebo -->
        <!-- ROS 2 Humble -->
        <hardware>
            <plugin>gz_ros2_control/GazeboSimSystem</plugin>
        </hardware>

        <!-- ros2_control Common Interfaces --> 
        <!-- right wheel -->
        <joint name="base_right_wheel_joint">
            <command_interface name="velocity">
              <param name="min">-10</param>
              <param name="max">10</param>
            </command_interface>
            <state_interface name="position" />
            <state_interface name="velocity" /> 
        </joint>

        <!-- left wheel -->
        <joint name="base_left_wheel_joint">
            <command_interface name="velocity">
              <param name="min">-10</param>
              <param name="max">10</param>
            </command_interface>
            <state_interface name="position" />
            <state_interface name="velocity" />
        </joint>
    
    </ros2_control>

</robot>